<h1>Crypto Portfolio</h1>
<%= link_to 'Add Crypto', new_crypto_path %>
<table>
  <tr>
    <th>Crypto Name</th>
    <th>Amount</th>
  </tr>

  <% @cryptos.each do |crypto| %>
    <tr>
      <td><%= crypto.crypto %></td>
      <td><%= crypto.amount %></td>
      <td><%= link_to 'Details', crypto_path(crypto) %></td>
    </tr>
  <% end %>
</table>