<p>
  <strong>Crypto:</strong>
  <%= @crypto.crypto %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @crypto.amount %>
</p>

<%= link_to 'Update', edit_crypto_path(@crypto) %> |
<%= link_to 'Back', cryptos_path %>